@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root {
    --green-color: #4caf50;
    --green-color-hover: #45a049;
--green-dark: #3c763d;
--header: #3E6056;
--links: #449399
}
* {
    overflow-x: hidden;

}
body {
    /* font-family: 'Arial', sans-serif; */
    font-family: 'Lato', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;

}

header {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: #ffffff;
    justify-content: space-around;
    box-shadow: inset 5px 5px 10px rgba(238, 233, 233, 0.5),
    inset 5px 5px 20px rgba(239, 234, 234, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

img {
    max-width: 20%;
    border-radius: 50%;
    /* box-shadow: 15px 0 0 0 #c6c3c3; */
    box-shadow: 15px 0 0 0 #80ada0;
    /* -webkit-box-reflect: left 0 linear-gradient(to right, #0000, #0009) */
}
/* 
img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 600px;
    background: red;
    z-index: 2;
} */

main {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    line-height: normal;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 5px;
    margin: 0;
    box-shadow: inset -15px 3px 30px rgba(0, 0, 0, 0.2), inset -5px -5px 20px #fff;
}

h2 {
    color: #3E6056;
    /* text-decoration: underline; */
    text-align: center;
    font-style: normal;
    font-family: "Arial";
    margin: 7px 0 7px 0;
}

h3, h4, h5 {
    margin: 0;
    padding: 0;
    display: block;
}

h3 {
    margin: 4px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    margin: 3px;
    font-weight: 300;
    letter-spacing: 0.04em;
}

h4:nth-child(2) {
font-weight: 900;
letter-spacing: 0.11em;
}

h5 {
    margin: 2px;
    color: #3E6056;
}
.prog__lg{
    font-weight: 900;
    color: #3E6056;  
}
.data__info {
    margin-top: 8px;
    color: #3E6056;
    font-weight: 900;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

li {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #3E6056;
    font-size: smaller;
}

.achievement {
    color: #3E6056;
}

@media only screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}

.it__language {
    display: block;
    color: #3E6056;
    font-size: 30px;
}

.it__language:nth-child(3) {
    font-size: 20.5px;
}

h1 {
    display: block;
}

@media print {
    body {
        background-color: #f8f9fa !important;
    }
}


y-b {
    font-weight: 500;
}


.skill-box {
    background-color: #3E6056;
    color: #ffffff;
    padding: 4px;
    border-radius: 3px;
    border: 1.5px solid #449399;
    display: inline-block;
    margin-bottom: 3px;
    font-size: 12px;
    /* box-shadow: inset 1px 1px 1px rgba(6, 81, 0, 0.1), inset -1px -1px 1px #052e02; */
    box-shadow: 
    -3px -5px 5px rgba(255, 255, 255, 0.1),
    1px 2px 5px rgba(0, 0, 0, 0.35),
    inset -5px -5px 5px rgba(255, 255, 255, 0.1),
    inset 5px 5px 5px rgba(0, 0, 0, 0.35);
}
.skill-box:hover {
    box-shadow: none;
    transform: scaleX(10px);
}

.about {
    line-height: 15px;
    margin: 0;
    padding: 5px 10px;
}

p {
    margin-top: 0;
    margin: 10px;
    margin-top: 0;
}

.interest {
    display: inline-block;
}

.lg {
    margin-bottom: 4px;
}

.last_p {
    margin: 0;
}

.icon {
    /* color: white;  */
    /* background-color: #3E6056 ; */
    /* margin-right: 5px; */
    padding: 10px;
    /* background-color: red; */
    /* font-size: 20px; */
}

.fa-home {
    /* color: red; */
    font-size: 95px;
}

.fa-recycle {
    color: #3c763d;
     margin: 3px;
}

.save {
    color: #3c763d;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
    left: 40px;
}

.svg {
    font-size: 1px;
}

embed {
margin: 0px 10px;
}

h2.about__header {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    header {
        /* position: absolute; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* flex-direction: row;
        justify-content: center; */

    }

    img {
    max-width: 50%;
   border-radius: 5%;
}

h2 {
    font-style: normal;
    font-family: "Arial";
    margin: 7px 0 7px 0;
    display: flex;
    justify-content: center;
}

.fa-recycle {
    /* position: absolute;
   /* top: -90px; */
     /* margin-bottom: 10px;  */
     /* position: relative; */
     padding: 0px;
     margin: 0;
     margin: 7px 10px;
}

.save {
    display: none;
}
}

.fa-recycle {
    scrollbar-width: none;
}

